// Override Bootstrap typography variables
$font-family-base: 'Lato', sans-serif;

$base-letter-spacing: 0.0625em;

// Custom font family for masthead H1

$font-family-special: "Exo", sans-serif;

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Exo:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);